CPU.xpr
CPU.sim
CPU.ip_user_files
CPU.hw
CPU.cache
CPU.runs/.jobs/vrs_config_1.xml
CPU.runs/synth_1/__synthesis_is_complete__
CPU.runs/synth_1/.Vivado_Synthesis.queue.rst
CPU.runs/synth_1/.vivado.begin.rst
CPU.runs/synth_1/.vivado.end.rst
CPU.runs/synth_1/cpu_utilization_synth.pb
CPU.runs/synth_1/cpu_utilization_synth.rpt
CPU.runs/synth_1/cpu.dcp
CPU.runs/synth_1/cpu.tcl
CPU.runs/synth_1/cpu.vds
CPU.runs/synth_1/gen_run.xml
CPU.runs/synth_1/htr.txt
CPU.runs/synth_1/ISEWrap.js
CPU.runs/synth_1/ISEWrap.sh
CPU.runs/synth_1/project.wdf
CPU.runs/synth_1/rundef.js
CPU.runs/synth_1/runme.bat
CPU.runs/synth_1/runme.log
CPU.runs/synth_1/runme.sh
CPU.runs/synth_1/vivado.jou
CPU.runs/synth_1/vivado.pb
